.app--container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cadastro-container{
  padding: 10px 20px;
  border: 3px solid black;
  margin-top: 20px;
}
.cadastro-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
}
.cadastro-input{
  display: block;
  padding: 10px auto;
  margin: 10px auto;
}
.cadastro-butao{
  padding: 2px 5px;
}
